profiles/e_confirmation/xsd/request/CoreVocabularyBasicComponents.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Library:           Core Vocabulary Common Basic Components
  Module:            xsd/request-docs/CoreVocabularyBasicComponents.xsd
  Generated on:      2015-02-04 07:13z
-->
<xsd:schema xmlns="http://www.w3.org/ns/corevocabulary/BasicComponents"
            xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
            xmlns:qdt="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
            xmlns:udt="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.w3.org/ns/corevocabulary/BasicComponents"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1">
   <!-- ===== Imports ===== -->
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
               schemaLocation="../common/UBL-CommonAggregateComponents-2.1.xsd"/>
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:QualifiedDataTypes-2"
               schemaLocation="../common/UBL-QualifiedDataTypes-2.1.xsd"/>
   <xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:UnqualifiedDataTypes-2"
               schemaLocation="../common/UBL-UnqualifiedDataTypes-2.1.xsd"/>
   <!-- ===== Element Declarations ===== -->
   <xsd:element name="ActivityCode" type="ActivityCodeType"/>
   <xsd:element name="ActivityDescription" type="ActivityDescriptionType"/>
   <xsd:element name="AdminunitFirstline" type="AdminunitFirstlineType"/>
   <xsd:element name="AlternativeName" type="AlternativeNameType"/>
   <xsd:element name="CompanyStatusCode" type="CompanyStatusCodeType"/>
   <xsd:element name="CompanyTypeCode" type="CompanyTypeCodeType"/>
   <xsd:element name="DeathDate" type="DeathDateType"/>
   <xsd:element name="GeographicID" type="GeographicIDType"/>
   <xsd:element name="GeographicName" type="GeographicNameType"/>
   <xsd:element name="HealthCareProviderID" type="HealthCareProviderIDType"/>
   <xsd:element name="HealthInsuranceOrganizationID"
                type="HealthInsuranceOrganizationIDType"/>
   <xsd:element name="JurisdictionID" type="JurisdictionIDType"/>
   <xsd:element name="LegalID" type="LegalIDType"/>
   <xsd:element name="LegalName" type="LegalNameType"/>
   <xsd:element name="RequestDate" type="RequestDateType"/>
   <xsd:element name="RequestID" type="RequestIDType"/>
   <!-- ===== Type Definitions ===== -->
   <!-- ===== Basic Business Information Entity Type Definitions ===== -->
   <xsd:complexType name="ActivityCodeType">
      <xsd:simpleContent>
         <xsd:extension base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="ActivityDescriptionType">
      <xsd:simpleContent>
         <xsd:extension base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AdminunitFirstlineType">
      <xsd:simpleContent>
         <xsd:extension base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="AlternativeNameType">
      <xsd:simpleContent>
         <xsd:extension base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CompanyStatusCodeType">
      <xsd:simpleContent>
         <xsd:extension base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="CompanyTypeCodeType">
      <xsd:simpleContent>
         <xsd:extension base="udt:CodeType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="DeathDateType">
      <xsd:simpleContent>
         <xsd:extension base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeographicIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="GeographicNameType">
      <xsd:simpleContent>
         <xsd:extension base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HealthCareProviderIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="HealthInsuranceOrganizationIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="JurisdictionIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LegalIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="LegalNameType">
      <xsd:simpleContent>
         <xsd:extension base="udt:TextType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RequestDateType">
      <xsd:simpleContent>
         <xsd:extension base="udt:DateType"/>
      </xsd:simpleContent>
   </xsd:complexType>
   <xsd:complexType name="RequestIDType">
      <xsd:simpleContent>
         <xsd:extension base="udt:IdentifierType"/>
      </xsd:simpleContent>
   </xsd:complexType>
</xsd:schema>
<!-- ===== Copyright Notice ===== --><!--
  Test copyright statement.
-->